* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.separator-line {
    width: 100%;
    margin: 0 auto;
}

.car-main-container {
    width: 60vw;
    display: flex;
    flex-direction: column;
}
.car-main-info {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    font-size: 26px;
}
.car-make-model-year {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 40%;
}

.car-specs-container {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.car-specs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.car-specs-up {
    color: black;
    margin-bottom: 5px;
}
.car-specs-down {
    color: rgb(86, 86, 86);
}

.car-details-container {
    width: 60%;
    padding: 15px;
}
.car-details-div {
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
}
.car-details-subcontainer {
    display: flex;
    flex-direction: column;
}
.car-details-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}