* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
}

.makes-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    /* padding: 5px; */
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
  }
  
  .makes-ul li {
    display: inline-block;
    cursor: pointer;
    transition: 250ms ease-in-out;
    border-radius: 25px;
    padding: 5px 25px;
  }
  
  .makes-ul li:hover {
    background-color: rgb(164, 164, 164);
  }
  
  .makes-link {
    text-decoration: none;
    color: black;
  }
  
  /* Media query for mobile and tablet screens */
  @media (max-width: 768px) {
    .makes-ul {
      animation: slide-in 1s forwards;
    }
  
    .makes-ul li {
      margin-right: 5px;
    }
  
    @keyframes slide-in {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }
  