* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;

    /* background-color: rgb(205, 205, 205); */
}

.hamburguer-menu {
    height: 50px;
}

.navbar-logo {
    color: white;
}

.navbar-logo span {
    margin-left: 5px;
    margin-right: 5px;
}

.search-bar {
    height: 35px;
    width: 400px;
    background-color: aliceblue;
    border-radius: 25px;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(96, 95, 95);
}

.log-in-btn {
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    color: white;
}
.log-in-btn img {
    height: 20px;
}

.log-in-btn p, .log-in-btn span {
    margin-left: 5px;
    margin-right: 5px;
}