* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;

    padding: 15px;
}

.key-menu {
    height: 50px;
}

.navbar-logo {
    color: gray;
}

.search-bar {
    width: 750px;
    height: 50px;
    background-color: rgb(243, 243, 243);
    border-radius: 25px;
    border: none;

    text-align: center;
}

.log-in-btn img {
    height: 20px;
}
@media (max-width: 1024px) {
    .nav-fuji-motors {
        display: none;
    }
    .search-bar {
        width: 800px;
    }
}

@media (max-width: 426px) {
    .search-bar {
        width: 250px;
    }
}